.at-form-landing-logo{
  img {
    display: none;
  }
}

.at-form-lang {
  display: none;
}

.js-change-language{
  display: none !important;
}
  
#header #header-main-bar .wekan-logo {
	display: none !important;
}